downloads
downloads_cut
video_cut
download_errors.log
.env
caption_generator.log
checkpoint.log
new_week
yt_simplify.py
yt_short_downloader/__pycache__/db.cpython-310.pyc
yt_short_downloader/__pycache__/downloader.cpython-310.pyc
yt_short_downloader/__pycache__/orchestrator.cpython-310.pyc
*.pyc
